results/nt_muts_cov_full.json filter=lfs diff=lfs merge=lfs -text
1000nt_filter/results/nt_muts_cov_full[[:space:]]1.18.19[[:space:]]PM.json filter=lfs diff=lfs merge=lfs -text
results/aligned_cov_full.fasta filter=lfs diff=lfs merge=lfs -text
